.header-button{
    display: flex;
    border: 1 solid #b0b1b3;
    background-color: white;
    padding: 5px 15px;
    border-radius: 20px;
    position: relative;
  }
  .header-button input {
      border: 1px solid #F2F3F5;
      height: 30px;
      width: 200px;
      position: relative;
    }
    .header-button img{
      background-color: transparent;
      position: absolute;
      right: 7px;
      top: 9px !important;
    }
    .candidates-header{
        display: flex;
        justify-content: space-between;    
        width: 100%;
        padding: 0px 17px;
    }
    .candidates-header-right{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        gap: 150px;
        padding: 0px 10px;
    }
    .candidates-header-right img{
      padding-right: 35px;
    }